({
    "player.one_texture": Image(
        path: "sprites/ship_blue.png",
    ),
    "player.two_texture": Image(
        path: "sprites/ship_red.png",
    ),
    "player.projectile.texture": Image(
        path: "sprites/laser.png",
    ),
    "player.shoot.audios": Files(
        paths: ["audio/laser.ogg", "audio/laser_m2.ogg", "audio/laser_p2.ogg", "audio/laser_m4.ogg", "audio/laser_p4.ogg"],
    ),

    "enemy.texture": Image(
        path: "sprites/asteroid01_atlas.png",
    ),
    "enemy.layout": TextureAtlasLayout(
        tile_size_x: 96,
        tile_size_y: 96,
        columns: 8,
        rows: 1,
        padding_x: 0,
        padding_y: 0,
        offset_x: 0,
        offset_y: 0,
    ),
    
    "gameplay.background.texture": Image(
        path: "sprites/background.png",
    ),
    "gameplay.music.audio": File(
        path: "audio/game_music.ogg",
    ),
    "gameplay.death.audio": File(
        path: "audio/explode.ogg",
    ),
    "gameplay.hit.audios": Files(
        paths: ["audio/hit.ogg", "audio/hit_m4.ogg", "audio/hit_p4.ogg"],
    ),
})